<div>
  <div class="card">

    <img class="image" [src]="" alt="">
    <div class="caption">
      <div class="title">Juego de dados</div>
      <!--<div class="sub-title">{{dataEntrante.subtitulo}}</div>-->
      <br>

      <button class="favorite" (click)="AgregarAFavorito()">Jugar juego</button>

    </div>
    <div class="card">

      <img class="image" [src]="" alt="">
      <div class="caption">
        <div class="title">piedrapapeltijera</div>
        <!--<div class="sub-title">{{dataEntrante.subtitulo}}</div>-->
        <br>

        <button class="favorite" (click)="AgregarAFavorito()">Añadir a Favoritos</button>

      </div>
      <div class="card">

        <img class="image" [src]="" alt="">
        <div class="caption">
          <div class="title">piedrapapeltijera</div>
          <!--<div class="sub-title">{{dataEntrante.subtitulo}}</div>-->
          <br>

          <button class="favorite" (click)="AgregarAFavorito()">Añadir a Favoritos</button>

        </div>
</div>
