<section class="container">
    <h1>Piedra, Papel y Tijera</h1>

    <div class="opciones">
        <button (click)="jugar(opcion)" *ngFor="let opcion of opciones">{{opcion}}
          <img class="img__PPT" [src]="obtenerImagen(opcion)"  alt="{{ opcion }}">
        </button>
    </div>

    <div *ngIf="opcionJugador && opcionComputadora">
        <p>Tu elección: {{opcionJugador}}</p>
        <p>Elección de la computadora: {{opcionComputadora}}</p>
        <p>Resultado: {{resultado}}</p>
    </div>
</section>