

.container{
  min-height: 900px;
  height: 100%;
}



.opciones {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
  
.img__PPT{
    
  width: 350px;
}

button {
  margin-right: 10px;
}