<div class="container">
    <p></p>
    <p></p>
    <h1 class="title">SNAKE</h1>
    <p></p>
    <p></p>


    <div class="container2">
 
        <div class="score-card">
            <div class="score-board">
                <h1>Score</h1>
                <h3>{{food.currentScore}}</h3>
            </div>

            <div class="start-button" (click)="start">
                START
            </div> <!--Hay que rutear bien el start-->
        </div>

        <div class="game-over" *ngIf="gameOver">
            <h1>Game Over</h1>
        </div>

        <div class="game-board">
        </div>
        <div class="mobile-controls">
            <h2>Pad para el teléfono</h2>
            <nav class="o-pad">
                <a class="up" (click)="dpadMovement('ArrowUp')"></a>
                <a class="right" (click)="dpadMovement('ArrowRight')"></a>
                <a class="down" (click)="dpadMovement('ArrowDown')"></a>
                <a class="left" (click)="dpadMovement('ArrowLeft')"></a>
            </nav>
        </div>
    </div>
</div>